{{>header}}
<body>
    
    <div class="container-fluid main_menu">
        <div class="row">

            <div class="col-md-12 col-12 mx-auto">

              {{>navbar}}
            </div>
        </div>
<!-- <button class="btn btn-danger"></button> -->

    </div>
<!-- header -->
<div class="container-fluid ">
    <div class="row">

        <div class="col-md-12 col-12 mx-auto align-items-center" >
            <div class="row">
            <!-- left side -->
            <div class="col-md-6 col-12 main_header_left align-items-center">
                <figure>
                    <img src="img/leehd6.jpg" alt="lee" class="img-fluid">
                </figure>


                </div>
                <!-- right side -->
                <div class="col-md-6 col-12 main_header_right align-items-center">

                    <h1>Welcome <span>Lee Jong-suk</span> ❤</h1>
                    <p>Get latest updates</p>
                    <!-- <a href="/weather" ><button>Check Now</button></a> -->

                    </div>
                </div>
                </div>

            </div>
            </div>
            </div>
           {{>footer}}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>