@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@500&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Piazzolla', serif;
    box-sizing: border-box;

}
/* weather app */
.box {
    width: 20vw;
    height: 60vh;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(black, 0.2);
    background: darken(cadetblue,20%);
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 200px;
    min-height: 350px;
  }
  
  .wave {
    opacity: 0.3;
    position: absolute;
    top: 120%;
    left: 50%;
    background: white;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: drift 3000ms infinite linear;
    z-index: 1;
  }
  
  .wave.-three {
    animation: drift 5000ms infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
  }
  
  .wave.-two {
    animation: drift 7000ms infinite linear;
    opacity: 0.1;
    z-index: 3 !important;
  }
  
  .box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
  }
  
  @keyframes drift {
    from {
      transform: rotate(0deg);
    }
    from {
      transform: rotate(360deg);
    }
  }
  
  .info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 4;
  }
  
  .location {
    text-align: center;
    font-weight: 800;
  }
  
  #date {
    text-align: center;
    margin-top: 5%;
    color: lighten(grey, 10%);
    font-size: 70%;
  }
  
  .temp {
    margin-top: 10%;
    text-align: center;
  }
  
  #weathercon {
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
  }
  .tempmin_max{
    text-align: center;
  }
  @media (max-width: 600px) {
    .box {
      width: 90vw;
      height: 80vh;
    }
  
    .wave {
      top: 85%;
    }
  
    .weathercon {
      font-size: 5em;
    }
  
    .info {
      font-size: 1.5rem;
    }
  }
  
  @media (max-height: 500px) {
    .box {
      height: 80vh;
    }
  
    .wave {
      top: 115%;
    }
  }
  
  body > span {
    width: 100vw;
    text-align: center;
    color: grey;
  }
/* end */

    #city_name {
        border-radius: 10px;
        color: rgb(252, 252, 252);
        font-size: 1.5rem;
        width: 45rem;
        background-color: rgb(95 158 160);
        filter: drop-shadow(0 1rem 0.5rem rgb(18, 49, 105));

        padding: 1rem;
    
}
#errormsg{
    color: darkred;
    font-size: 15px;
    font-weight: 600;
}
#submit_button{
    background-color: rgb(2, 13, 34);
    font-size: 1.5rem;
    width: 10rem;
    padding: 10px;
    margin-top: 2rem;
    filter: drop-shadow(0 1rem 0.5rem rgb(5, 57, 105));

}
:root{

    --main-bg:#1e272e;
    --main-color:#0096e6;
}
html{
    font-size: 62.5%;
    
    
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}
row{
    margin: 0;
}
.main_menu{
    background-color: var(--main-bg);
}
.navbar{
    background-color: var(--main-bg);
color: cornsilk;
padding: 2rem 0;
}
.navbar a{
    color: cornsilk;
    font-size: 1.8rem;
}

.navbar a:hover{
    color: var(--main-color);
}
.navbar li{
    margin-left: 2rem;
}
.navbar-toggler{
    background-color: cornsilk;
}
.fa-snowflake{
transition: all linear;
animation: rot 2s linear infinite;
color: var(--main-color);
}
@keyframes rot{

    0%{
        transform:rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }

}
figure{
    margin: 2rem;
    text-align: center;
    filter: drop-shadow(0 1rem 0.5rem rgb(33, 8, 92));

}
.main_header_left{
display: flex;
flex-direction: column;
justify-content: center;
height: 40rem;
align-items: flex-start;
}
.main_header_left p{
font-size: 2rem;
}
.main_header_left h1{
    text-transform: capitalize;
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
}
.main_header_right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40rem;
    align-items: flex-start;
    }
    .main_header_left figure img{
        filter: drop-shadow(0 1rem 0.5rem rgb(33, 8, 92));
    }
   
    footer{
        background-color: var(--main-bg);
margin-top: auto;
    }
    footer p{
        font-size: 2rem;
        color: cornsilk;
        text-align: center;
        line-height: 5rem;
    }